h3 {
    color: white;
    text-shadow: 1px 5px 4px #481c61;/*(+cima -baixo, +direita -esq, +=dissipa -=nitida)*/
}
  
body {
    margin: 0px;
}

nav {
    background-color: black;
    height: 50px;
    display: flex; /*align precisa do display flex pra funcionar e display deixa no centro verticalmente*/
    align-items: center;
    justify-content: space-around; /*espaçamento entre os itens*/
    border-bottom: 2px solid white;
}

nav a{
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    font-family: 'Cookie', cursive;
}

nav a:nth-child(3) {/*chamar a primeira ancora filha de nav, chamando pseudoclasses ao inves de <nav class="classe">*/
    color: #a247d6;
}

nav a:hover {
    color: #969696;
    text-decoration: underline;
}

section{
    height: 650px;
    background-color: rgb(30, 0, 48);
    display: flex;
    align-items: center;
    justify-content: center; /* FLEX DIRECTION ROW: align-itens: vertical, justify-content: horizontal */
}


section div{ /*propriedades aplicadas apenas na div da section*/
    background-color: black;
    height: 200px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; /* FLEX DIRECTION COLUMN: align-itens: horizontal, justify-content: vertical*/
    border-radius: 10px;
    border: 2px solid white;
}

section div input {
    width: 95%;
    margin: 5px;
}

section div input:hover {
    background-color: black;
}

section div input:focus{ /*pseudoclasse focus relacionada ao clique*/
    background-color:blue;
}

div input:nth-child(4) { /*altera o botão acessar*/
    background-color: #481c61;
    color: white;
    margin-top:10px;
    width: 98%; /* %= em relação ao pai, vw = unidade de medida em relação a largura da página*/
    box-shadow: 3px 4px 3px rgb(73, 73, 73);/*(+cima -baixo, +direita -esq, +=dissipa -=nitida)*/
}

div input:nth-child(4):hover { /*altera o botão acessar*/
    color: white;
}

input::placeholder {
    color:#481c61;
    font-size:8pt;
    text-align: center;
}

input::placeholder:hover {
    color:white;
    font-size:8pt;
}

/*----------------DEMONSTRAÇÃO: ID > CLASSE > ELEMENTO---------------
footer input, button, p{
    color: blue;
}
footer button{background-color:blue} //elemento
footer .botao{background-color:red} //classe
footer #botaozao{background-color:yellow} //id

No HTML:<button class='botao'>Botao 1</button>
        <button class='botao' id="botaozao">Botao 2</button> <------ ficou vermelho
        <p>blablabla</p>
*/

footer {
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer div {
    width: 100px;
    display: flex;
    justify-content: space-around;
}

footer div img {
    width: 40px;
    height: 40px;
}

header{
    height: 79px;
    background-image: url(https://i.stack.imgur.com/1dWd5.png);
    background-size: cover;
}